## DATABASE CONNECTION
MYSQL_HOST=127.0.0.1 ## Leave it on 127.0.0.1 if u are running ur database on the same server as your web
MYSQL_PORT=3306 ## Leave it on 3306 as default
MYSQL_DATABASE=retro ## MySQL Database
MYSQL_USER=root ## MySQL User
MYSQL_PASSWORD=root ## MySQL Password

## Get your captcha Keys from https://www.google.com/recaptcha/admin/create
NEXT_PUBLIC_RECAPTCHA_SITE_KEY= ## Captcha Public Key 
NEXT_SECRET_RECAPTCHA_SITE_KEY= ## Captcha Private Key 
CSRF_SECRET=ThisneedsToBe-Random-ASF
NEXTAUTH_SECRET=Eyup-is-dit-okeoekek-sssgdlkd
NEXTAUTH_URL=http://localhost:3000
BLAZE_LANG=EN ## TO-DO

## SERVER SETTINGS
SERVER_HOST=localhost
SERVER_PORT=3000

## MAIL SERVER
# Set this to false, if u don't want to reset user's page. Use this only if u got an SMTP server.
NEXT_PUBLIC_EMAIL_ENABLED=false
EMAIL_SERVER_USER=thisismymail@gmail.com
EMAIL_SERVER_PASSWORD=thisismypass
EMAIL_SERVER_HOST=smtp-relay.sendinblue.com
EMAIL_SERVER_PORT=465
EMAIL_FROM=noreply@eyupc.dev

## REGISTER SETTINGS
REGISTER_CREDITS=10000
REGISTER_DUCKETS=5000
REGISTER_DIAMONDS=10
REGISTER_MOTTO=Welcome to Blaze!
REGISTER_LOOK=ch-210-66.lg-270-1338.sh-290-1408.hr-100-39.hd-180-1
REGISTER_RANK=1
